
<div class="top">
    <img src="https://cdn2.vectorstock.com/i/1000x1000/63/21/creative-blue-letters-ea-e-a-logo-with-leading-vector-43196321.jpg">

    <div class="fo"><br>
            <h3 style="margin:20px">Sign-In </h3>
            <div class="form-floating mb-3 ">
            
            <input type="text" class="form-control" id="floatingInput" placeholder="name@123" >
            <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            </div>

            <input type="submit" class="btn" style="margin:20px;" value="Sign-In"><br>

            <div class="cr"><b>Don't have an account? </b><a href="#up">Create One Now.</a>
                
            </div>
            
    </div>

    
</div>

<div>
        
        <div class="fo" id="up">
            <h3 style="margin:20px;">Create New Account</h3>
                <div class="up">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">First Name</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
                            </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="last Name">
                            </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="10-Digit Phone Number">
                            </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
                            </div>
                            </div>
                            <button class="btn bg-custom" >Sign-Up</button>

                        </div>
                
                    </div>
                </div>
            </div>
</div>
