.main{
    margin:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #00295e;
    color:white;
    text-align:center;
    font-size: 50px;
    font-style:oblique;
}
