.category{
    margin:20px;
    background-color: white;
    padding:20px;
    border-radius: 10px;
}
a>img{
    border-radius:20px;
    align-items: center;
    height:200px;
    width:18.5%;
    margin:10px;
    object-fit:cover;
    border:2px solid midnightblue;
    
}
a>img:hover {
    opacity:0.5;
    
}

.card>a:hover{

    width:93%;
    transition:0.5s;
    background-color: black;
    
}
.btn{
    width:50%;
    background-color: midnightblue;
    color:white;
    margin:10px;
}
.card-body{
    text-align:center;
}
.card{
    border:2px solid ;
}
#cat{
    text-align:right;
}