<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://assets.ajio.com/medias/sys_master/images/images/h75/h74/32014221639710/23042021-d-unisex-topcarousel-mainbanner-epicblowout-50to80.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.arghealthcare.in/content/images/Special%20Offer.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://assets.ajio.com/medias/sys_master/images/images/hae/hf1/33871493201950/15072021-d-unisex-topcarousel-p4-stayhomeessentials-starting249.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="category">
    <h2>Shop By Season</h2>
    <div class="row">
      <div class="col">
        <div class="card hover-zoom" style="width: 18rem;height:26rem">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-HYnFCNol7pYr2SN9mz-KekFqv7KNWx01VQ&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Winter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          </div>
          <a href="https://www2.hm.com/en_in/index.html" class="btn ">See Collection</a>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;height:26rem; margin-bottom:20px;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8KKUFfmpiMGJEJAIuS_T_h1y3l_gBX6OHaQ&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Summer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          </div>
          <a href="https://www2.hm.com/en_in/index.html" class="btn ">See Collection</a>

        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;height:26rem">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqBVlyxbbXk8SG4EvLYV4YiNwEPQwiO1UCgQ&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Autumn</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          </div>
          <a href="https://www2.hm.com/en_in/index.html" class="btn ">See Collection</a>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;height:26rem">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3PTBCUZlACnm2d5YBSjAL3F6jjDkL4_Zt3w&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Spring</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          </div>
          <a href="https://www2.hm.com/en_in/index.html" class="btn ">See Collection</a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <a href=""><img style="margin:0px;width:100%;height:100%;"src="https://70415bb9924dca896de0-34a37044c62e41b40b39fcedad8af927.ssl.cf3.rackcdn.com/MAX-Friday/HDFCoffer-Mobile-07Dec18.jpg" width="100%" height="50%"></a>
  </div>
  <div class="category">
    <h2 id="cat">Our Top 10 This Week</h2>

    <a href=""><img src="https://img0.junaroad.com/uiproducts/20135450/zoom_0-1691048122.jpg"></a>
    <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUyIGhlGtR6xEfsMz8t8RlWHSdU3W7T7Ey6NLDbA0RRBn1o_xZFkx930s_9OWpZiLJbZ8&usqp=CAU"></a>
    <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB-H5wAE5EXP7uzHtcZni5uGrKhMahj35rKA&usqp=CAU"></a>
    <a href=""><img src="https://images.ctfassets.net/u4vv676b8z52/3OYeHyRL4qz1LzLjxW0bWC/2cdea093cb11c18f0960cee4fb2361e4/eye-makeup-678x446.gif?fm=jpg&q=80"></a>
    <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRT5vbtFT8HTVUR-35a9Bk4kvUVr6HbHM9gw&usqp=CAU"></a>
  </div>
